// Custom styles.
/*body,.post-body{
	font-family:"Microsoft Yahei" !important;
}
.post-more-link{
	margin-top:25px;
}
.back-to-top{
	width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
	font-size:16px;
	background-color:#D3D3D3;
	transition: 0.5s ease;
}
.back-to-top:hover{
	background-color: #0099FF;
}
.posts-expand .post-title-link{
	color: #000000;
    transition: 0.2s ease;
}
.posts-expand .post-eof{
	margin:80px auto 120px;
}
.posts-expand .post-title-link:hover{
	color:#0099FF;
}
.posts-expand .post-title-link::before{
	background-color: #FFFFFF;
}
.post-more-link .btn{
	border: 1px solid #0099FF;
	transition: 0.5s ease;
	background: #0099FF;
	color:#fff;
}
.post-more-link .btn:hover{
	border-color: #364956;
    color: #fff;
    background: #364956;
}
.site-title{
	color:#FFFFFF
	transition: 0.5s ease;
}
.headband{
	background-color:#364956;
}
.site-meta{
	background-color:#364956;
	transition: 0.3s ease;
	color:#FFFFFF;
}
.site-meta:hover{
	background-color:#364956;
}
.site-meta:hover .site-title{
	color:#fff
}
.site-meta:hover .headband{
	background-color:#0099FF !important;
}

.posts-expand .post-body img{
	border:none;
	box-shadow: 0 0 5px rgba(0,0,0,.3)
}
.post-meta a{
	border:none;
}
.feed-link a,.feed-link a i{
	color:#0099FF;
}
.feed-link a:hover,.feed-link a:hover i{
	color:#364956;
}









.page-home .content-wrap{
	padding:0;
	background-color:#F8F8F8;
}
.page-home .posts-expand .post-type-normal{
	background-color:#fff;
	padding:20px 20px 0;
	border: 1px solid #cdcdcd;
	margin-bottom:30px;
}
.page-home .posts-expand .post-eof{
	background-color:#fff;
	margin:0px auto 0px;
}
body{
	background-color:#F8F8F8;
}
.page-home .posts-expand .post-body{
	padding-bottom:35px;
}
.pagination{
	margin: 100px 0 40px
}
.pagination a{
	background-color:#fff;
}
.pagination .page-number.current{
	background-color:#0099FF;
}
.page-home .posts-expand{
	padding-top:30px;
}
.page-home .posts-collapse{
	background-color:#fff;
	padding:10px 0 100px 40px;
	margin-left:0;
}
blockquote{
	border-left-color:#a4dbff;
}
.post-category a:hover{
	color:#0099FF;
}
.post-comments-count:hover{
	color:#0099FF;
}
.links-of-author-item a:hover{
	color:#0099FF;
}
.site-state span:hover{
	color:#0099FF;
}

.page-home .post-header{
	margin-top:40px;
}
.page-home .posts-expand .post-meta{
	margin: 3px 0 40px 0;
}

.page-home .posts-expand .post-type-normal{
	border: 1px solid #efefef;
}
.page-home .posts-expand .post-type-normal:hover{
	border: 1px solid #D1EDFF;
}
*/

.posts-expand .post{
margin-top:80px;}