
$font-family-headings = Georgia, sans


$font-family-base = "Microsoft YaHei", Verdana, sans-serif


$code-font-family = "Microsoft YaHei", "PT Mono", Consolas, Monaco, Menlo, monospace


$font-size-base = 14px


$code-font-size = 13px